<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>会員一覧</h2>
    <table class="table table-hover", style="padding: 0 20px;">
      <thead class="row">
        <th class="col-sm-2">会員ID</th>
        <th class="col-sm-3">氏名</th>
        <th class="col-sm-4">メールアドレス</th>
        <th class="col-sm-3">ステータス</th>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to "#{ customer.last_name }#{ customer.first_name }", admins_customer_path(customer) %></td>
            <td><%= customer.email %></td>
            <td><%= customer.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>