<div class="row">
  <div class="col-sm-3">
    <div class="sidebar">
      <table class="category-table">
        <thead class="category-table-head"><th>ジャンル検索</th></thead>
        <tbody>
          <tr><td>ケーキ</td></tr>
          <tr><td>焼き菓子</td></tr>
          <tr><td>プリン</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="top-image">
      <p class="top-image-text">
        ようこそ、NaganoCakeへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧は出来ますが、<br>
        購入には会員登録が必要になります。
      </p>
    </div>
    <section class="recommendation">
      <h2>おすすめ商品</h2>
      <div class="items-list">
        <% @items.each do |item| %>
          <div class="item">
            IMG<br>
            <%= link_to item.name, item_path(item) %><br>
            <%= item.price_with_tax.to_s(:delimited) %>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>