$main-color-strong: rgba(60, 0, 150, 0.8);
$main-color-weak: rgba(96, 9, 227, 0.8);
$sub-color-strong: rgba(227, 220, 9, 0.8);
$sub-color-weak: rgba(153, 149, 41, 0.8);

$heading-color: rgba(124, 124, 124, 0.3)