<div class="row">
  <div class="col-sm-12">
    <div class="header-content">
      <div>
        <p>LOGO</p>
      </div>
      <div>
        <ul class="nav-menu">
          <li class="nav-menu-item"><%= link_to "About", about_path %></li>
          <li class="nav-menu-item">商品一覧</li>
          <li class="nav-menu-item">新規登録</li>
          <li class="nav-menu-item">ログイン</li>
        </ul>
      </div>
    </div>
  </div>
</div>